## Gitignore for Visual Studio
## Adapted from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
#x64/
#x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual C++ cache files
*.sdf

# Microsoft Fakes
FakesAssemblies/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# MacOS
*.DS_Store

# PersonalAnalytics
documentation/Mini-Docu.lnk
documentation/OCR Stuff/2015-05-29 StandaloneOcr_Output.txt
documentation/OCR Stuff/GetWindowContent.rar
documentation/OCR Stuff/OcrPlayground.rar
documentation/OCR Stuff/StandaloneOcr.rar
/deployment/PersonalDeveloperAnalytics.old.rar
*.dtbcache

# IntelliJ
.idea/*
!.idea/runConfigurations/

# Python Backend
/src/py-backend/.env
/src/py-backend/src/chats/
*.pyc
/src/py-backend/src/thread_counter.json
src/py-backend/personalquery-backend.spec
src/py-backend/dist/personalquery-backend.exe
src/py-backend/build/personalquery-backend/xref-personalquery-backend.html
src/py-backend/build/personalquery-backend/warn-personalquery-backend.txt
src/py-backend/build/personalquery-backend/PYZ-00.toc
src/py-backend/build/personalquery-backend/PYZ-00.pyz
src/py-backend/build/personalquery-backend/PKG-00.toc
src/py-backend/build/personalquery-backend/personalquery-backend.pkg
src/py-backend/build/personalquery-backend/EXE-00.toc
src/py-backend/build/personalquery-backend/base_library.zip
src/py-backend/build/personalquery-backend/Analysis-00.toc
*.pyc
/src/py-backend/src/__pycache__
src/py-backend/src/helper/.env
src/py-backend/src/backend.log
src/py-backend/backend.log
src/py-backend/build/file_version.txt
src/py-backend/build/file_version.txt
/src/py-backend/build
/src/py-backend/dist
